services:
  api:
    image: clebernandi/zenndi-auth:latest
    restart: always
    environment:
      WORKERS: 8
      ENV_MODE: prod
      DATABASE_URL: "postgresql+asyncpg://zenndi:${POSTGRES_PASSWORD}@db:5432/zenndi_auth"
      REDIS_URL: "redis://redis:6379/0"
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - internal

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: zenndi
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: zenndi_auth
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U zenndi || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

  redis:
    image: redis:7-alpine
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data
    networks:
      - internal

volumes:
  pgdata:
  redisdata:

networks:
  internal:
    driver: bridge