name: CI Build and Push

on:
  push:
    branches:
      - "feature/**"
      - "dev"
      - "hml"
      - "main"
  pull_request:
    branches:
      - "dev"
      - "hml"
      - "main"

  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: clebernandi/zenndi-auth:${{ github.sha }}

      - name: Create latest tag
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: clebernandi/zenndi-auth:latest